.admin-dashboard-header{
  background-color: #004D91; /* Background color for the header */
    color: white; /* Text color */
    padding: 10px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; /* Ensure header stays on top */
}

/* Dashboard Container */
.dashboard-container {
  background-color: #FFF9EE;
  padding: 2rem;
  min-height: 100vh;
}

/* Title Styling */

/* Button Group */
.button-group {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
  margin-top: 50px;
}

/* Primary Button */
.primary-button {
  background-color: #004D91;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.primary-button:hover{
  opacity: 0.8;
}

.primary-button:hover {
  background-color: #004D91;
}



/* Form Overlay */
.form-overlay {
  position: fixed;
  inset: 0px;
  max-width: 400px;
  max-height: 800px;
  margin: auto;
  background: transparent;
}

/* Submit Button */
.submit-button {
  background-color: #F4B400;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.submit-button:hover {
  background-color: #D89C00;
}

/* AdminDashboard.css */

.logout-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
}

.logout-button {
  background-color: #D89C00;
  color: white;
  padding: 10px 20px;
  border: none;
  border-color: #D89C00;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 60px;
}

.logout-button:hover {
  background-color: #a07403;
}
  